<div class="max-w-7xl flex flex-col place-items-center">
  <%= image_tag 'splash.png', class: 'mt-40 px-6 mb-5 md:px-0 md:scale-75' %>
  <%= link_to 'Sign in to book a flight', new_user_session_path, class: 'btn-primary text-center w-fit' %>
</div>