<% if flights %>
  <% flights.each do |flight| %>
    <div class="max-w-lg sm:max-w-3xl w-full my-2 mx-5 py-4 rounded-xl bg-white shadow-md">
      <%= link_to new_booking_path(flight_id: flight.id, passenger_count: params[:airport][:passenger_count]) do %>
        <%= render 'flight', flight: flight %>
      <% end%>
    </div>
  <% end %>
<% end %>
