<div class="flex flex-col place-items-center">
  <%= render 'home' unless current_user %>

  <% if current_user %>
    <%= render 'search_form', airports: @airports %>

    <%= render 'search_results', flights: @available_flights %>
  <% end %>
</div>