<div class="mx-2 sm:mx-0 flex flex-col items-center">
  <h3 class="mt-5 sm:mt-10 mb-3 text-blue-500 font-light text-md sm:text-2xl whitespace-nowrap tracking-wider uppercase text-center">Thank you for booking with us!</h3>

  <div class="mt-2 py-4 max-w-xl w-full rounded-xl bg-white shadow-md group">
    <p class="mb-3 sm:mt-3 text-blue-500 font-light text-lg tracking-wider uppercase text-center">Your Trip Summary</p>
    <hr class="m-4 mb-6 text-gray-700 border-t-2">
    <%= render 'flights/flight', flight: @booking.flight %>
  </div>

  <div id="passengers" class="pb-4 mt-2 mx-5 px-4 flex flex-col justify-center gap-2 max-w-md w-full rounded-xl bg-white shadow-md">
    <p class="mt-5 text-blue-500 font-light text-lg tracking-wider uppercase text-center">Passengers</p>
    <hr class="text-gray-700 border-t-2 my-2">
    <% @booking.passengers.each_with_index do |passenger, i| %>
      <div class="pl-5 flex gap-x-2 items-baseline text-gray-700">
        <p class="text-sm"><%= i + 1 %>.</p>
        <span class="text-md"><%= passenger.name.titleize %></span>
      </div>
    <% end %>
  </div>
</div>